.entrevista-container{
    width: 100%; 
    border-radius: 20px; 
    border: 0px; 
    background-color: white; 
    width: 100%; 
    max-width: 1000px; 
    padding-top: 20px;
}

.linkedin-click{
    cursor: pointer;
}

.image{
    height: 150px;
    border-radius: 50%;
}