<div class="body-container">
    <app-navbar [ActualArea]="Area"></app-navbar>
    <div class="inner-body-container" style="background-color: transparent; border: 0px;">
      <div style="display: flex; justify-content: center;">
        <div style="background-color: white; border-radius: 20px; padding: 20px;">
            <p>
                A gestão estratégica de TI existe dentro da Governança de TI, tendo um TI estratégico, se obtém um aumento de produtividade dos demais setores, da economia dos recursos e aumento de vendas. 
                A TI estratégica precisa ser proativa para que possa resolver problemas que estão acontecendo, os que ainda não ocorreram e aqueles que se quer sabem que ainda existem, dessa forma, 
                precavendo problemas maiores dentro da empresa e evitando muita dor de cabeça.
            </p>
        </div>
      </div>
    </div>
</div>